@import './styles/variables.scss';

:root {
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: map-get($font-weight, regular);
  font-size: 16px;

  color-scheme: light dark;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $grey-1;
  color: $black;
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif, sans-serif;
  font-size: map-get($font-size, p);
}

a {
  color: $blue;
  text-decoration: inherit;
  transition: color map-get($transition, default);
  cursor: pointer;
}

a:hover {
  color: dark($blue, 10%);
}

h1 {
  font-size: map-get($font-size, h1);
  line-height: 1.1;
}

button {
  background-color: $blue;
  border-color: transparent;
  color: $white;
  transition: background-color .2s ease-in;
  font-weight: map-get($font-weight, bold);
  font-size: map-get($font-size, p);
  border-radius: 6px;
  padding: 0.6em 1em;
  min-width: 120px;
  cursor: pointer;

  &:hover {
    background-color: darken($blue, 10%);
  }

  &:active {
    background-color: darken($blue, 20%);
  }

  &:focus {
    outline: none;
  }
}

.buttons-group {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.logo {
  background-image: url(https://http2.mlstatic.com/storage/developers-site-cms-admin/220269655579-268205826549-Mercado-Libre--3-.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 36px;
  width: 52px;
}