@import '../../styles/variables.scss';

.header {
  display: block;
  padding: $size-2 0;
  background-color: $yellow;
  width: 100%;
  box-shadow: 0 1px 0 0 $grey-2;

  .inner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-template-areas: 'logo' 'search';
    column-gap: $size-3;
  }
}